body {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wght" 400, "wdth" 100;
  line-height: 1.75;
  font-size: 1.15em;

  color: var(--text-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

h1,
h2 {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 500;
}

h1 {
  font-size: 1.75rem;
  font-weight: 900;
  margin: 3rem 0 0;
}

h2 {
  margin: 3rem 0 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
}

p,
ul,
ol {
  font-size: 1.15rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
