@import "./variables.css";
@import "./base.css";

.container {
  max-width: 58ch;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

.italic {
  font-style: italic;
}

.header {
  margin-bottom: 5rem;
}

.footer {
  padding: 6rem 0;
}

.tight-spacing p {
  margin-bottom: 0.75rem;
}

.text-small {
  font-size: 1rem;
}

.text-secondary {
  color: var(--text-secondary);
}

.text-accent {
  color: var(--accent);
}

.text-center {
  text-align: center;
}

.logos {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  width: fit-content;
}

.logos img {
  height: 36px;
  width: auto;
  object-fit: contain;
  display: block;
}
