:root {
  /* fonts */

  --font-body: "Merriweather", serif;

  --font-heading: "Merriweather Sans", system-ui, "Segoe UI", "Helvetica Neue",
    sans-serif;

  /* colors */
  --text-primary: #fff;
  --text-secondary: #0093b5;
  --border: #dbdbdb;
  --accent: #0093b5;
}
