:root {
  /* fonts */

  --font-heading: "Inter", system-ui, "Segoe UI", "Helvetica Neue", sans-serif;
  --font-body: "Inter", system-ui, "Segoe UI", "Helvetica Neue", sans-serif;

  /* colors */
  --text-primary: #293835;
  --text-secondary: #3f625b;
  --border: #dee9e6;
  --accent: #3f625b;
}
